.imgBG15{
    background-image: url("https://wallpaperaccess.com/full/21964.jpg");
    background-size: cover;
}

.divCustom{
    transition: all .5s;
}
.divCustom:hover{
    opacity: 0.8 !important;
    background-color: rgb(109, 105, 105);
    color: white;
}
