.bgImage8{
    background-image: url("https://www.microsoft.com/en-us/research/uploads/prod/2019/11/Area_IconHeader_Sys_DataVis_11_2019_1920x720.png") ;
    background-size: cover;
    background-attachment: scroll;
}